body {
    background-color: #f5f3ea

}
.starter-template {
  padding: 40px 15px;
  text-align: right;
}

img {
    max-width: 100%;
}

p {
    text-indent: 10px;
}

.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.marginAdd {
    
    display: none;
}

.mirador-canvas-nav {
    display: none !important;
}



.pagenumber {
    display:block;
    float:right;
    position: absolute;
    right: 10px;
    top: 10px;
}

.lineBreak{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.supraAdd {
    font-size: small;
    font-style: italic;
    vertical-align: text-top;
    display: block;
}

.intraAdd {
    font-style: italic;
}

.inlineAdd {
    font-style: italic;
}
